/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body{
        width: 480px;
    }
    .section-plan{
        width:480px;
        height: 700px;
        padding: 0%;
        margin: 0%;
        background-size: 480px;
    }
    .section-testmonials{
        width:480px;
        height: 700px;
        padding: 0%;
        margin: 0%;
        background-size: 480px;
        font-size: auto;
    }
    .section-cities{
        width:480px;
        height: 700px;
        padding: 0%;
        margin: 0%;
        background-size: 480px;
        font-size: auto;
    }
    .TableOne{
        width:480px;
        font-size: auto;
    }
    .footer{
        width:480px;
    }
    .image{
        width:50px;
        height: 50px;
    }
    td{
        padding: 0;
        margin:0;
    }
}
